html,
body {
  padding: 0;
  margin: 0;
  background-color: #e5e5e5;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.navflex {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  align-items: center;
  background-color: white;
}

.logo {
  transform: translateY(-24%);
}

.logo > img {
  height: 100%;
}

.navitems {
  display: flex;
  align-items: center;
}

.navitems > div:not(.link) {
  margin-left: 1rem;
}
.navitems > div {
  font-weight: 600;
}

.register {
  display: flex;
  align-items: center;
}

.signup {
  background: #064420;
  border-radius: 10px;
  padding: 16px 32px;
  color: white;
  font-weight: 600;
}
.login {
  border-radius: 10px;
  padding: 16px 32px;
  margin-right: 1rem;
  font-weight: 600;
}

.advertparent {
  background-color: white;
}

.advertflex {
  display: flex;
  /* border: 1px solid; */
  padding: 3rem;
  padding-bottom: 0;
  justify-content: space-between;
}

.advertinfo {
  /* background-color: grey; */
  /* border: 1px solid; */
  padding-top: 5rem;
}

.advertinfo > h1 {
  font-size: 40px;
  font-weight: 600;
}

.h1 {
  margin-bottom: 2rem;
}

.apple,
.playstore {
  /* border: 1px solid; */
  height: 12rem;
  cursor: pointer;
}

.appstore {
  margin-top: 2.2rem;
}

.apple {
  margin-right: 1rem;
}

.photos {
  /* border: 1px solid; */
  display: flex;
  justify-content: center;
  width: 20%;
  height: 35rem;
  position: relative;
  /* border: 1px solid; */
}

/* .photos > img {
  border: 1px solid;
} */

.img1 {
  /* border: 1px solid; */
  width: 27rem;
  height: 40rem;
  transform: translateX(-100%);
  z-index: 3;
}
.img2 {
  /* border: 1px solid; */
  width: 27rem;
  height: 40rem;
  transform: translate(25%, 9%);
  z-index: 3;
}

.stats {
  display: flex;
  justify-content: space-evenly;
  background-color: #064420;
  color: white;
  padding: 1rem 0;
}

.firststat {
  font-size: 34px;
  font-weight: 600;
  margin-bottom: 0.9rem;
}

.eachstat {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about {
  padding: 5.5rem 3rem 4rem;
}

.abouttitle {
  margin-bottom: 3rem;
  margin-left: 3.5rem;
}

.aboutflex {
  display: flex;
  justify-content: space-between;
  padding-left: 3.5rem;
  align-items: center;
}

.aboutimg {
  /* border: 1px solid; */
  width: 40%;
  height: 27rem;
  position: relative;
  border-radius: 120px;
  overflow: hidden;
}

.aboutimg > img {
  position: absolute;
  top: -10%;
  left: -42%;
  width: 50rem;
  height: 35rem;
  border-radius: 0;
}

.infos {
  margin-right: 11rem;
}

.aboutinfo {
  font-weight: 600;
}

.aboutmore {
  margin-top: 3rem;
  font-weight: 600;
  color: #064420;
  cursor: pointer;
  font-size: 20px;
}

.testimonials {
  padding: 3rem 2.5rem 2rem;
  background-color: #71c300;
  position: relative;
  overflow: hidden;
}

.testimonialflex {
  display: flex;
  justify-content: space-between;
  padding-left: 3.5rem;
  align-items: center;
}

.abouttitle.testtitle {
  z-index: 2;
}

.testimonialimg {
  /* border: 1px solid; */
  border-radius: 10px;
  overflow: hidden;
  height: 14rem;
  z-index: 2;
}
.testimonialimg > img {
  height: 100%;
}

.testinfos {
  width: 45%;
  margin-right: 6.5rem;
  z-index: 2;
}

.testinfos .name {
  font-size: 22px;
  font-weight: 600;
  word-spacing: 3px;
}

.testimonialinfo {
  font-weight: 600;
}

.marg {
  margin-top: 3rem;
}

.marginfo {
  font-weight: 700;
}

.pag {
  /* border: 1px solid; */
  margin-top: 4rem;
}

.pagflex {
  display: flex;
  justify-content: center;
}

.circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  /* border: 1px solid; */
  margin-right: 10px;
  cursor: pointer;
  z-index: 2;
}

.circle:not(.first) {
  border: 1px solid #fff;
}

.circle.first {
  background-color: white;
}

.arrow {
  position: absolute;
  right: 8%;
  top: 40%;
  transform: rotate(270deg);
  border: 1px solid;
  border-radius: 50%;
  padding: 0.5rem 0.4rem;
  cursor: pointer;
  z-index: 2;
}

.bigcircle {
  width: 1000px;
  height: 600px;
  background-color: #2dd63f;
  border-radius: 45%;
  position: absolute;
  bottom: -30%;
  right: -10%;
}

.featureparent {
  background-color: white;
}

.featuretitle {
  margin-bottom: 3rem;
}

.infos.featureinfo {
  order: -1;
  margin-right: 0;
  margin-left: 0.7rem;
  /* border: 1px solid; */
}

.about.feature {
  padding: 5.5rem 3rem 4rem;
}

.abouttitle {
  margin-bottom: 3rem;
  margin-left: 3.5rem;
}

.aboutflex.featureflex {
  display: flex;
  justify-content: space-between;
  padding-left: 3.5rem;
  align-items: center;
}

.aboutimg.featureimg {
  /* border: 1px solid; */
  width: 40%;
  height: 27rem;
  position: relative;
  border-radius: 120px;
  overflow: hidden;
  border: 1px solid;
  margin-right: 7rem;
  border: 2px solid #064420;
}

.infos.secondinfo {
  margin-right: 12.5rem;
}
.infos.infoo {
  margin-right: 10rem;
}

.aboutimg.featureimg > img {
  position: absolute;
  top: -10%;
  left: -42%;
  width: 50rem;
  height: 35rem;
  border-radius: 0;
}

.aboutinfo {
  font-weight: 600;
}

.featureshead {
  margin-bottom: 4.5rem;
  margin-left: 3.5rem;
}

.aboutimg.lastimg {
  border: 2px solid #064420;
}

.aboutimg.lastimg > img {
  position: absolute;
  top: -13%;
  left: -42%;
  width: 50rem;
  height: 35rem;
  border-radius: 0;
}

.faqparent {
  background-color: #71c300;
  padding-top: 7rem;
  padding-bottom: 3rem;
  position: relative;
}

.faqflex {
  display: flex;
  justify-content: flex-end;
}

.faqhead {
  margin-bottom: 4rem;
}

.faq {
  margin-right: 21rem;
}

.directions {
  position: absolute;
  top: 25%;
  right: 12%;
}

.normal {
  position: absolute;
  top: 50%;
  right: 14%;
  cursor: pointer;
}

.directions .left {
  transform: rotate(90deg);
  border: 1px solid;
  border-radius: 50%;
  padding: 0.5rem 0.4rem;
  cursor: pointer;
}
.directions .right {
  transform: rotate(270deg);
  border: 1px solid;
  border-radius: 50%;
  padding: 0.5rem 0.4rem;
  margin-left: 0.7rem;
  cursor: pointer;
}

.round {
  width: 300px;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  position: absolute;
  bottom: -15%;
  left: 10%;
}

.phone {
  /* border: 1px solid; */
  width: 400px;
  position: absolute;
  bottom: -55%;
  left: 7%;
}

.faq h3 {
  word-spacing: 1.1px;
}

.newsletter {
  padding: 9rem 5rem 5.5rem;
  background-color: white;
}

.newsletter h1 {
  text-align: center;
  margin-bottom: 3.5rem;
}

.newsletter .form {
  display: flex;
  justify-content: space-between;
  border: 1px solid;
  border-radius: 8px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 0.5rem;
  padding-left: 3.7rem;
}

.form input {
  width: 80%;
  font-size: 18px;
  font-weight: 600;
  border: none;
  outline: none;
}

.subscribe {
  width: 15%;
  font-weight: 600;
  padding: 0.9rem;
  background-color: #064420;
  color: white;
  text-align: center;
  border-radius: 6px;
}

.footer {
  background-color: #064420;
  padding: 2rem;
  padding-bottom: 4rem;
  position: relative;
}

.footer > img {
  width: 10rem;
  margin-bottom: 3.5rem;
}

.footerflex {
  display: flex;
  justify-content: space-between;
  /* padding: 3rem; */
}

.twitter > img,
.linkedin > img {
  width: 1.6rem;
}

.social {
  margin-top: 1.5rem;
}

.social span {
  font-size: 14;
  color: white;
}

.social > div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1rem;
}

.social img {
  margin-right: 1rem;
}

.company {
  color: white;
}

.company h3 {
  margin-bottom: 2rem;
}

.compabout {
  margin-bottom: 0.6rem;
}
.compfeatures {
  margin-bottom: 0.9rem;
}

.appstore.relate {
  position: absolute;
  bottom: -7%;
  right: 5%;
}

.circle1,
.circle2 {
  width: 330px;
  height: 330px;
  background-color: rgba(0, 100, 0, 0.4);
  border-radius: 50%;
  position: absolute;
}

.circle1 {
  top: 25%;
  left: -96%;
}

.circle2 {
  top: 32%;
  left: -93%;
}

.lorems {
  position: absolute;
  padding: 0.4rem;
  padding-left: 0.9rem;
  border-radius: 10px;
  font-weight: 600;
  width: 15rem;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.lorem1 {
  top: 22%;
  left: -162%;
  z-index: 7;
}

.lorem2 {
  width: 12rem;
  top: 20.5%;
  left: -13%;
  z-index: 7;
}

.lorem3 {
  width: 12rem;
  top: 50%;
  left: -65%;
  z-index: 7;
}

.app__navbar-smallscreen {
  display: none;
}

.app__navbar-smallscreen_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 500vh;
  background-color: #064420;
  transition: 0.5s ease;
  padding-top: 9rem;
  flex-direction: column;
  z-index: 5;
}

.app__navbar-smallscreen_overlay .overlay__close {
  font-size: 27px;
  color: var(--color-golden);
  cursor: pointer;
  position: absolute;
  top: 1%;
  right: 15%;
}

.app__navbar-smallscreen_links {
  list-style: none;
}

.app__navbar-smallscreen_links li {
  margin: 2rem;
  cursor: pointer;
  color: white;
  font-size: 2rem;
  text-align: center;
  font-family: var(--font-base);
}

.app__navbar-smallscreen_links li:hover {
  color: var(--color-white);
}

@media screen and (max-width: 950px) {
  .newsletter {
    padding: 9rem 2.5rem 5.5rem;
    background-color: white;
  }

  .newsletter .form {
    display: flex;
    justify-content: space-between;
    border: 1px solid;
    border-radius: 8px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 0.5rem;
    padding-left: 2rem;
  }

  .form input {
    width: 65%;
    font-size: 16px;
    font-weight: 600;
    border: none;
    outline: none;
  }

  .subscribe {
    width: 30%;
    font-weight: 600;
    padding: 0.7rem;
    background-color: #064420;
    color: white;
    text-align: center;
    border-radius: 6px;
  }

  .footer {
    background-color: #064420;
    padding: 2rem;
    padding-bottom: 4rem;
    position: relative;
  }
}

@media screen and (max-width: 1100px) {
  .faqparent {
    padding-top: 5rem;
    padding-bottom: 3rem;
    position: relative;
  }

  .faqflex {
    display: block;
  }

  .faqhead {
    margin-bottom: 3rem;
  }

  .faq {
    margin-right: 0rem;
    padding-left: 1.5rem;
  }

  .phone {
    position: absolute;
    bottom: -55%;
    left: 34%;
  }

  .round {
    bottom: -15%;
    left: 34%;
  }
}

@media screen and (max-width: 800px) {
  .faqparent {
    padding-top: 2rem;
    padding-bottom: 7rem;
    position: relative;
  }

  .faqflex {
    display: block;
  }

  .faqhead {
    margin-bottom: 3rem;
  }

  .faq {
    margin-right: 0rem;
    padding-left: 1.5rem;
  }

  .phone {
    width: 300px;
    position: absolute;
    bottom: -67%;
    left: -5%;
  }

  .round {
    width: 200px;
    height: 200px;
    bottom: -15%;
    left: 2%;
  }

  .company,
  .support.company {
    display: none;
  }

  .contact.company {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  body {
    padding: 1.5rem;
  }
}
@media screen and (max-width: 1200px) {
  body {
    padding: 1rem;
  }
  .app__navbar-smallscreen {
    display: flex;
  }
  .navitems {
    display: none;
  }
  .lorems {
    display: none;
  }
  .advertflex {
    display: block;
    padding-top: 1.5rem;
  }
  .advertinfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .photos {
    width: 100%;
  }

  .img1 {
    transform: translateX(-50%);
  }
  .img2 {
    transform: translate(75%, 9%);
  }

  .circle1 {
    top: 27%;
    left: 40%;
  }

  .circle2 {
    top: 34%;
    left: 40%;
  }

  .aboutflex {
    display: block;
    padding-left: 0rem;
    padding: 1rem;
  }

  .infos {
    margin-right: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .advertinfo p {
    font-size: 19px;
  }

  .aboutinfo {
    font-size: 19px;
  }

  .testimonialflex {
    display: block;
    padding-left: 1rem;
  }

  .testimonialimg {
    height: 14rem;
    border: 1px solid;
    margin: 0 auto;
    width: 50%;
  }
  .testimonialimg > img {
    height: 100%;
  }

  .testinfos {
    margin-top: 2rem;
  }

  .bigcircle {
    display: none;
  }

  .testimonials {
    padding: 3rem 1rem 2rem;
    background-color: #71c300;
    position: relative;
    overflow: hidden;
  }

  .testinfos {
    width: 100%;
  }

  .name,
  .testimonialinfo,
  .marginfo {
    text-align: center;
  }

  .featureparent {
    background-color: white;
  }

  .featuretitle {
    margin-bottom: 1.5rem;
  }

  .infos.featureinfo {
    order: -1;
    margin-right: 0;
    margin-left: 0rem;
    /* border: 1px solid; */
  }

  .abouttitle {
    margin-bottom: 3rem;
    margin-left: 1.5rem;
  }

  .aboutflex.featureflex {
    display: block;
    padding: 1rem;
  }

  .infos.secondinfo {
    margin-right: 0rem;
  }
  .infos.infoo {
    margin-right: 0rem;
  }

  .aboutinfo {
    font-weight: 600;
  }

  .featureshead {
    margin-bottom: 4rem;
    margin-left: 0rem;
  }

  .about {
    padding: 1rem 1rem 1rem;
  }

  .about.feature {
    padding: 4rem 1rem 2rem;
  }

  .about.agro {
    padding: 4rem 1rem 2rem;
  }

  .infos.featureinfo {
    text-align: center;
  }

  .infos.secondinfo {
    text-align: center;
  }
}

@media screen and (min-width: 701px) and (max-width: 1199px) {
  .about {
    padding: 1rem 1rem 1rem;
  }

  .aboutflex {
    padding: 1rem;
  }

  .testimonialimg {
    height: 14rem;
    border: 1px solid;
    margin: 0 auto;
    width: 60%;
  }
  .testimonialimg > img {
    height: 100%;
    width: 100%;
  }

  .testimonials {
    padding: 3rem 0 2rem;
    background-color: #71c300;
    position: relative;
    overflow: hidden;
  }

  .testimonialflex {
    padding-left: 0;
  }

  .aboutimg {
    /* border: 1px solid; */
    width: 60%;
    height: 27rem;
    position: relative;
    border-radius: 120px;
    overflow: hidden;
    margin-right: 0rem;
    margin: 0 auto;
    margin-bottom: 1rem;
  }

  .aboutimg.lastimg {
    /* border: 1px solid; */
    width: 60%;
    height: 27rem;
    position: relative;
    border-radius: 120px;
    overflow: hidden;
    margin-right: 0rem;
    margin: 0 auto;
    margin-bottom: 1rem;
    border: 2px solid #064420;
  }
  .aboutimg.featureimg {
    /* border: 1px solid; */
    width: 60%;
    height: 27rem;
    position: relative;
    border-radius: 120px;
    overflow: hidden;
    margin-right: 0rem;
    margin: 0 auto;
    margin-bottom: 1rem;
    border: 2px solid #064420;
  }

  .aboutimg.lastimg > img {
    position: static;
    width: 60rem;
    height: 37rem;
    position: static;
    transform: translate(-20%, -15%);
    border-radius: 0;
  }

  .aboutimg.featureimg > img {
    position: static;
    width: 70rem;
    height: 45rem;
    transform: translate(-15%, -15%);
    border-radius: 0;
  }

  .aboutimg > img {
    position: static;
    width: 70rem;
    height: 45rem;
    transform: translate(-15%, -15%);
    border-radius: 0;
  }
}
@media screen and (max-width: 700px) {
  body {
    padding: 0.7rem;
  }

  .register {
    display: none;
  }

  .about {
    padding: 1rem 1rem 1rem;
  }

  .aboutflex {
    padding: 1rem;
  }

  .testimonialimg {
    height: 14rem;
    border: 1px solid;
    margin: 0 auto;
    width: 75%;
  }
  .testimonialimg > img {
    height: 100%;
    width: 100%;
  }

  .testimonials {
    padding: 3rem 0 2rem;
    background-color: #71c300;
    position: relative;
    overflow: hidden;
  }

  .testimonialflex {
    padding-left: 0;
  }

  .aboutimg {
    /* border: 1px solid; */
    width: 100%;
    height: 27rem;
    position: relative;
    border-radius: 120px;
    overflow: hidden;
    margin-right: 0rem;
    margin: 0 auto;
    margin-bottom: 1rem;
  }

  .aboutimg.lastimg {
    /* border: 1px solid; */
    width: 100%;
    height: 27rem;
    position: relative;
    border-radius: 120px;
    overflow: hidden;
    margin-right: 0rem;
    margin: 0 auto;
    margin-bottom: 1rem;
    border: 2px solid #064420;
  }
  .aboutimg.featureimg {
    /* border: 1px solid; */
    width: 100%;
    height: 27rem;
    position: relative;
    border-radius: 120px;
    overflow: hidden;
    margin-right: 0rem;
    margin: 0 auto;
    margin-bottom: 1rem;
    border: 2px solid #064420;
  }

  .aboutimg.lastimg > img {
    position: static;
    width: 60rem;
    height: 37rem;
    position: static;
    transform: translate(-20%, -10%);
    border-radius: 0;
  }

  .aboutimg.featureimg > img {
    width: 80rem;
    height: 45rem;
    transform: translateY(-20%);
    border-radius: 0;
  }

  .aboutimg > img {
    width: 80rem;
    height: 45rem;
    transform: translateY(-20%);
    border-radius: 0;
  }
}
@media screen and (max-width: 590px) {
  .appstore {
    height: 19rem;
    margin-top: -4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0;
  }

  .apple,
  .playstore {
    height: 45%;
    margin-top: 0;
  }

  .advertflex {
    padding-top: 0.8rem;
  }

  .navflex {
    padding-bottom: 1rem;
  }

  .photos {
    margin-top: -5rem;
  }

  .circle1 {
    top: 27%;
    left: 8%;
  }

  .circle2 {
    top: 31%;
    left: 8%;
  }

  .img1 {
    transform: translateX(-52%);
  }
  .img2 {
    transform: translate(72%, 9%);
  }

  .about {
    padding: 1rem 0.3rem 1rem;
  }

  .aboutflex {
    padding: 1rem;
  }

  .infos {
    margin-right: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .aboutinfo {
    font-size: 18px;
  }

  .testimonialimg {
    height: 14rem;
    border: 1px solid;
    margin: 0 auto;
    width: 90%;
  }
  .testimonialimg > img {
    height: 100%;
    width: 100%;
  }

  .testimonials {
    padding: 3rem 0 2rem;
    background-color: #71c300;
    position: relative;
    overflow: hidden;
  }

  .testimonialflex {
    padding-left: 0;
  }

  .aboutimg.lastimg {
    /* border: 1px solid; */
    width: 100%;
    height: 27rem;
    position: relative;
    border-radius: 120px;
    overflow: hidden;
    margin-right: 0rem;
    margin: 0 auto;
    margin-bottom: 1rem;
    border: 2px solid #064420;
  }
  .aboutimg.featureimg {
    /* border: 1px solid; */
    width: 100%;
    height: 27rem;
    position: relative;
    border-radius: 120px;
    overflow: hidden;
    margin-right: 0rem;
    margin: 0 auto;
    margin-bottom: 1rem;
    border: 2px solid #064420;
  }
  .aboutimg.lastimg > img {
    position: static;
    width: 50rem;
    height: 46rem;
    transform: translate(-18%, -18%);
    border-radius: 0;
  }

  .aboutimg.featureimg > img {
    width: 80rem;
    height: 45rem;
    transform: translateY(-20%);
    border-radius: 0;
  }

  .footer {
    padding: 2rem;
    padding-bottom: 4rem;
    position: relative;
  }

  .footer > img {
    width: 10rem;
    margin-bottom: 2.5rem;
  }

  .footerflex {
    display: block;
    /* padding: 3rem; */
  }

  .social {
    margin-top: 0rem;
  }

  .social > div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 0.6rem;
  }

  .social img {
    margin-right: 1rem;
  }

  .form input {
    width: 55%;
    font-size: 14px;
    font-weight: 600;
    border: none;
    outline: none;
  }

  .subscribe {
    width: 40%;
    font-weight: 600;
    padding: 0.5rem;
    background-color: #064420;
    color: white;
    text-align: center;
    border-radius: 6px;
  }

  .newsletter .form {
    padding-left: 0.9rem;
  }

  .contact.company {
    margin-top: 6rem;
  }

  .appstore.relate {
    position: absolute;
    bottom: 12%;
    right: 5%;
  }
}

@media screen and (max-width: 370px) {
  .phone {
    width: 300px;
    position: absolute;
    bottom: -67%;
    left: -15%;
  }

  .round {
    width: 200px;
    height: 200px;
    bottom: -15%;
    left: 1%;
  }

  .advertflex {
    padding: 0;
    padding: 1.5rem;
  }

  .advertinfo > p {
    width: 85%;
  }

  .circle1 {
    top: 27%;
    left: -10%;
  }

  .circle2 {
    top: 34%;
    left: -10%;
  }

  .aboutimg,
  .aboutimg.lastimg,
  .aboutimg.featureimg {
    border-radius: 27px;
  }

  .aboutimg > img {
    width: 80rem;
    height: 45rem;
    transform: translate(-10%, -18%);
    border-radius: 0;
  }

  .aboutimg.lastimg > img {
    position: static;
    width: 50rem;
    height: 46rem;
    transform: translate(-18%, -18%);
    border-radius: 0;
  }

  .aboutimg.featureimg > img {
    width: 80rem;
    height: 45rem;
    transform: translate(-10%, -18%);
    border-radius: 0;
  }

  .newsletter .form {
    display: block;
    width: 100%;
    margin: 0;
    border: none;
    padding-left: 0.9rem;
  }

  .form input {
    width: 100%;
    padding-left: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    font-size: 14px;
    font-weight: 600;
    border: none;
    outline: none;
  }

  .subscribe {
    width: 80%;
    font-weight: 600;
    padding: 1rem;
    margin: 0 auto;
    background-color: #064420;
    color: white;
    text-align: center;
    border-radius: 6px;
  }
}

@media screen and (max-width: 350px) {
  .appstore.relate {
    height: 15rem;
    /* margin-top: -7.5rem; */
    transform: translateY(-16%);
  }
}
